@media (max-width: 768px) {

    #settings-label {
        display: none
    }


    #sidebar {
        right: 0;
        z-index: 5;
        transition: transform .3s;
        transform: translate(300px);
    }

    section {
        margin-left: 0;
    }
}