@media (max-width: 768px) {

    #settings-label {
        display: none
    }

    #sidebar-open {
        display: block;
    }

    #topbar img {
        width: 2rem;
    }

    #content {
        padding: 3rem 0 0 0;
    }

    #sidebar-open {
        height: .1rem;
        width: 1.3rem;
        background: #868686;
        border-radius: 5px;
        position: absolute;
        transition: all .3s;
    }

    #icon {
        width: 2rem;
        height: 2rem;
        background: transparent;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }

    #sidebar-open::before,
    #sidebar-open::after {
        content: "";
        height: .1rem;
        width: 1.3rem;
        background: #868686;
        border-radius: 5px;
        display: block;
        transition: all .3s;
        position: absolute;
    }

    #icon:hover {
        cursor: pointer;
    }

    #sidebar-open::before {
        transform: translateY(-.5rem);
    }

    #sidebar-open::after {
        transform: translateY(.5rem);
    }

    .open#sidebar-open {
        transform: translateX(-1rem);
        background: transparent;
    }

    .open#sidebar-open::before {
        transform: translateY(0) translateX(1rem) rotate(45deg);
    }

    .open#sidebar-open::after {
        transform: translateY(0) translateX(1rem) rotate(-45deg);
    }



    #sidebar {
        right: 0;
        z-index: 5;
        transition: transform .3s;
        transform: translate(300px);
    }

    #content-main {
        margin-left: 0;
    }
}