body {
    height: 100vh;
    font-family: 'Arimo';
}

#content {
    padding: 4rem 0 0 0;
}

#topbar {
    display: flex;
    background: #50DB50;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    width: 100%;
    z-index: 10;
    position: fixed;
}

#settings-label {
    font-size: 2rem;
    display: flex
}

#topbar img {
    width: 3rem;
}

#sidebar-open {
    transition: transform .3s;
    font-size: 1.5rem;
    display: none;
}

#sidebar {
    position: fixed;
    height: 100%;
    width: max-content;
    background: #63E8A8;
    padding: 1rem 4rem;
    transform: translate(0);
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sidebar li {
    padding: .5rem .1rem;
    transition: color .3s;
    color: #F6F6F6
}

#sidebar li:hover,
.active {
    border-bottom: 3px solid #2DB171;
    color: #C7C7C7;
    cursor: pointer;
}

#content-main {
    background: url('../img/background-spot.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    transition: filter .3s;
}

.change:hover {
    cursor: pointer;
}

#picture-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

section {
    margin-left: 16.2rem;
    display: none;
}

.sec-cont {
    display: flex;
    flex-direction: column;
}

.sec-row {
    padding: .5rem 0;
    display: flex;
}

.sec-row div {
    margin: .5rem;
}

.sec-head {
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.change {
    margin-left: 1rem;
}

#details {
    display: block;
}

#profile-pic {
    width: 15rem;
}

#profile-edit {
    position: absolute;
    bottom: 1.3rem;
    right: 0;
}

#picture {
    width: min-content;
    border-radius: 50%;
    position: relative;
}

.theme {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid rgb(34, 34, 34);
}

#auto {}

#light {
    background: rgb(219, 219, 219);
}

#dark {
    background: rgb(34, 34, 34);
}

#select-click {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .2rem;
}

#select-click:hover {
    cursor: pointer;
}

#font-select {
    position: relative;
    width: 13rem;
    padding: .2rem;
}

.font {
    margin: 0;
    padding: .5rem;
}

.font:hover {
    background: rgb(96, 133, 255);
    cursor: pointer;
}

#font-list {
    position: absolute;
    margin: .5rem 0 0 0;
    height: 13rem;
    width: 13rem;
    overflow: scroll;
    display: none;
}

#active-font {
    font-family: 'Arimo';
}









#info {
    background: orange;
    height: 100px;
}